	
			<div class="row row-others">
				<div class="col-md-1 col-group-left">C</div>
				<div class="col-md-11 col-group-right">
						<a href="/{{site.t[page.lang].lang}}/css"><span class="metro">Css</span></a>
				</div>				
			</div>
			<div class="row row-others">
				<div class="col-md-1 col-group-left">H</div>
				<div class="col-md-11 col-group-right">
						<a href="/{{site.t[page.lang].lang}}/html"><span class="metro">Html</span></a>
						<a href="/{{site.t[page.lang].lang}}/html-dom"><span class="metro">Html-DOM</span></a>
				</div>				
			</div>
			<div class="row row-others">
				<div class="col-md-1 col-group-left">J</div>
				<div class="col-md-11 col-group-right">
						<a href="/{{site.t[page.lang].lang}}/js"><span class="metro">Js</span></a>
						<a href="/{{site.t[page.lang].lang}}/jquery"><span class="metro">Jquery</span></a>
				</div>				
			</div>
			<div class="row row-others">
				<div class="col-md-1 col-group-left">L</div>
				<div class="col-md-11 col-group-right">
						<a href="/{{site.t[page.lang].lang}}/laravel"><span class="metro">Laravel</span></a>
				</div>				
			</div>
			<div class="row row-others">
				<div class="col-md-1 col-group-left">P</div>
				<div class="col-md-11 col-group-right">
						<a href="/{{site.t[page.lang].lang}}/php"><span class="metro">Php</span></a>
						<a href="/{{site.t[page.lang].lang}}/photoshop"><span class="metro">Photoshop</span></a>
						<a href="/{{site.t[page.lang].lang}}/python"><span class="metro">Python</span></a>
				</div>				
			</div>	  
			<div class="row row-others">
				<div class="col-md-1 col-group-left">R</div>
				<div class="col-md-11 col-group-right">
						<a href="/{{site.t[page.lang].lang}}/regular-expressions"><span class="metro">Regular expressions</span></a>
				</div>				
			</div>