			<div class="row row-others">
				<div class="col-md-1 col-group-left">A
				</div>
				<div class="col-md-11 col-group-right">
						<a href=""><span class="metro">.NET</span></a>
						<a href=""><span class="metro">Act</span></a>
						<a href=""><span class="metro">Ada.NET</span></a>
						<a href=""><span class="metro">Adobe</span></a>
						<a href=""><span class="metro">Adobe</span></a>
						<a href=""><span class="metro">Acrobat AJAX</span></a>
						<a href=""><span class="metro">Algebra</span></a>
						<a href=""><span class="metro">Apache</span></a>
						<a href=""><span class="metro">.NET</span></a>
						<a href=""><span class="metro">Act</span></a>
						<a href=""><span class="metro">Ada.NET</span></a>
						<a href=""><span class="metro">Adobe</span></a>
						<a href=""><span class="metro">Adobe</span></a>
						<a href=""><span class="metro">Acrobat AJAX</span></a>
						<a href=""><span class="metro">Algebra</span></a>
						<a href=""><span class="metro">Apache</span></a>
						<a href=""><span class="metro">.NET</span></a>
						<a href=""><span class="metro">Act</span></a>
						<a href=""><span class="metro">Ada.NET</span></a>
						<a href=""><span class="metro">Adobe</span></a>
						<a href=""><span class="metro">Adobe</span></a>
						<a href=""><span class="metro">Acrobat AJAX</span></a>
						<a href=""><span class="metro">Algebra</span></a>
						<a href=""><span class="metro">Apache</span></a>
						<a href=""><span class="metro">.NET</span></a>
						<a href=""><span class="metro">Act</span></a>
						<a href=""><span class="metro">Ada.NET</span></a>
						<a href=""><span class="metro">Adobe</span></a>
						<a href=""><span class="metro">Adobe</span></a>
						<a href=""><span class="metro">Acrobat AJAX</span></a>
						<a href=""><span class="metro">Algebra</span></a>
						<a href=""><span class="metro">Apache</span></a>
				</div>				
			</div>
			
			<div class="row row-others">
				<div class="col-md-1 col-group-left">C</div>
				<div class="col-md-11 col-group-right">
						<a href="/{{site.t[page.lang].lang}}/css"><span class="metro">CSS</span></a>
				</div>				
			</div>
			<div class="row row-others">
				<div class="col-md-1 col-group-left">H</div>
				<div class="col-md-11 col-group-right">
						<a href="/{{site.t[page.lang].lang}}/html"><span class="metro">HTML</span></a>
						<a href="/{{site.t[page.lang].lang}}/html-dom"><span class="metro">HTML-DOM</span></a>
				</div>				
			</div>
			<div class="row row-others">
				<div class="col-md-1 col-group-left">J</div>
				<div class="col-md-11 col-group-right">
						<a href="/{{site.t[page.lang].lang}}/js"><span class="metro">JS</span></a>
						<a href="/{{site.t[page.lang].lang}}/jquery"><span class="metro">JQUERY</span></a>
				</div>				
			</div>
			<div class="row row-others">
				<div class="col-md-1 col-group-left">P</div>
				<div class="col-md-11 col-group-right">
						<a href="/{{site.t[page.lang].lang}}/php"><span class="metro">PHP</span></a>
						<a href="/{{site.t[page.lang].lang}}/photoshop"><span class="metro">PHOTOSHOP</span></a>
						<a href="/{{site.t[page.lang].lang}}/python"><span class="metro">PYTHON</span></a>
				</div>				
			</div>
	  