    <div class="row">
		<div class="col-md-6 col-sm-6">		
			<div id="open-all" class="control">+</div>
			<div id="close-all" class="control">-</div>
			<div id="hide-all" class="control">H</div>
			<div class="ad">
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- h1nt BETA -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-4344137418296921"
     data-ad-slot="2556033095"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
			</div>
		</div>
	</div>