	<footer class="footer">
      <div class="container-fluid">
		<div class="row">			
			<div class="col-md-4 copy col-xs-10"><span class="logo">H1NT</span>.me</div>
			<div class="col-md-1 col-xs-2">
				<p class="nav-text visible-xs"><a href="#" class="ru-link">ru</a><br>
				<a href="#" class="en-link">en</a></p>
			</div>
			<div class="col-md-1 col-xs-12">
				<p class="nav-text visible-xs"><a href="/{{page.lang}}/about"><img src="/assets/img/about.png"></a></p>
			</div>
			<div class="clearfix visible-xs-block"></div>			
			<div class="col-md-3 col-md-offset-3 col-xs-10 col-xs-offset-0">				
				<a href="https://github.com/h1ntme/h1ntme.github.io" class="pull-md-right"><img src="/assets/img/github.png"></a>
				<a href="http://cuub.pro" class="pull-md-right"><img src="/assets/img/cuub.png"></a>
			</div>
		</div>
      </div>
    </footer>
<!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter28178187 = new Ya.Metrika({id:28178187, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true, trackHash:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/28178187" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->