    <nav class="navbar navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="logo" href="{% if page.lang == 'en' %}/en/{% else %}/{% endif %}"><img src="/assets/img/logo.png" alt="H1NT.ME"></a>
				<h1 class="title">{{page.title}}</h1>
		</div>
        
        <div id="navbar" class="navbar-collapse collapse">
		<ul class="nav navbar-nav">
			<div class="ui-widget">
			<input type="text" placeholder="{{site.t[page.lang].search}}" class="search" id="search">
			</div>
		</ul>
			<ul class="nav nav-pills navbar-right">
				<p class="nav-text visible-lg-*"><a href="#"><img src="/assets/img/share.png"></a></p>
				<p class="nav-text visible-lg-*"><a href="/{{page.lang}}/about"><img src="/assets/img/about.png"></a></p>
				<p class="nav-text visible-lg-*"><a href="javascript:window.print(); void 0;" target="_blank"><img width="18" src="/assets/img/print.png" alt="Print"></a></p>
				<p class="nav-text visible-lg-*"><a href="#"><img src="/assets/img/lang.png"></a></p>
			</ul>			

        </div><!--/.nav-collapse -->
      </div>
    </nav>