     <div class="header">
		<div class="pull-left">
			<a href="" class="navbar-brand">
				<img src="/assets/img/logo.png">
				<p id="slogan" class="hidden-xs">{{site.t[page.lang].slogan}}</p>
			</a>
		</div>
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/about">{{site.t[page.lang].about}}</a></li>
            <li role="presentation" class="control-lang"><a href="/ru">ru</a></li>
            <li role="presentation" class="control-lang"><a href="/en">en</a></li>
          </ul>
        </nav>        
      </div>