      <div class="row">
        <div class="col-md-2 col-xs-6 col-metro">
		  <a href="/{{site.t[page.lang].lang}}/html"><div class="metro">
			<p><img src="/assets/img/htmlicon.png"></p>
			<h2>HTML</h2>
			</div></a>
        </div>
        <div class="col-md-2 col-xs-6 col-metro">
		  <a href="/{{site.t[page.lang].lang}}/css"><div class="metro">		
			<p><img src="/assets/img/cssicon.png"></p>
          <h2>CSS</h2>
		  </div></a>
       </div>
	   <div class="col-md-2 col-xs-6 col-metro">
		  <a href="/{{site.t[page.lang].lang}}/js"><div class="metro">			   
			<p><img src="/assets/img/javscripticon.png"></p>
          <h2>JavaScript</h2>
		  </div></a>		  
       </div>
	   <div class="col-md-2 col-xs-6 col-metro">
		  <a href="/{{site.t[page.lang].lang}}/jquery"><div class="metro">
			<p><img src="/assets/img/jquerryicon.png"></p>
          <h2>jQuery</h2>
		  </div></a>
        </div>
        <div class="col-md-2 col-xs-6 col-metro">
		  <a href="/{{site.t[page.lang].lang}}/php"><div class="metro">
			<p><img src="/assets/img/phpicon.png"></p>
          <h2>PHP</h2>
		  </div></a>		  
        </div>
        <div class="col-md-2 col-xs-6 col-metro">
		  <a href="/{{site.t[page.lang].lang}}/python"><div class="metro">
			<p><img src="/assets/img/pythonicon.png"></p>
          <h2>Python</h2>
		  </div></a>
        </div>
      </div> <!--/row -->  