	<nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
        <a class="logo" href="#"><img src="/assets/img/logo.png" alt="H1NT.ME"></a>

		</div>
        
        <div id="navbar" class="navbar-collapse collapse">
		
			<ul class="nav nav-pills navbar-right">
				<p class="nav-text visible-lg-*"><a href="#"><img src="/assets/img/share.png"></a></p>
				<p class="nav-text visible-lg-*"><a href="#"><img src="/assets/img/about.png"></a></p>
				<p class="nav-text visible-lg-*"><a href="javascript:window.print(); void 0;" target="_blank"><img width="18" src="/assets/img/print.png" alt="Print"></a></p>
				<p class="nav-text visible-lg-*"><a href="#"><img src="/assets/img/lang.png"></a></p>
			</ul>			

        </div><!--/.nav-collapse -->
      </div>
    </nav>