	<div class="jumbotron">
		<p>Все подсказки, шпаргалки, клавиатурные сокращения в одном месте. Просто найти и просто использовать. <br> 
			Это то, что вам нужно!</p>
	</div>
	
    <div class="container container-index">
	  <div class="row">
		<h2>Мы коллекционируем блаблабла</h2>
	  </div>
      <div class="row">
        <div class="col-md-2 col-xs-6 col-metro">
		  <a href="/{{page.lang}}/html"><div class="metro">
			<p><img src="/assets/img/htmlicon.png"></p>
			<h2>HTML</h2>
			</div></a>
        </div>
        <div class="col-md-2 col-xs-6 col-metro">
		  <a href="/{{page.lang}}/css"><div class="metro">		
			<p><img src="/assets/img/cssicon.png"></p>
          <h2>CSS</h2>
		  </div></a>
       </div>
	   <div class="col-md-2 col-xs-6 col-metro">
		  <a href="/{{page.lang}}/js"><div class="metro">			   
			<p><img src="/assets/img/jsicon.png"></p>
          <h2>JavaScript</h2>
		  </div></a>		  
       </div>
        <div class="col-md-2 col-xs-6 col-metro">
		  <a href="/{{page.lang}}/php"><div class="metro">
			<p><img src="/assets/img/phpicon.png"></p>
          <h2>PHP</h2>
		  </div></a>		  
        </div>
        <div class="col-md-2 col-xs-6 col-metro">
		  <a href="/{{page.lang}}/ruby"><div class="metro">
			<p><img src="/assets/img/rubyicon.png"></p>
          <h2>Ruby</h2>
		  </div></a>
        </div>
        <div class="col-md-2 col-xs-6 col-metro">
		  <a href="/{{page.lang}}/java"><div class="metro">
			<p><img src="/assets/img/javaicon.png"></p>
          <h2>Java</h2>
		  </div></a>
        </div>
      </div> <!--/row -->
	  <div class="row">
        <div class="col-md-2 col-xs-6 col-metro">
		  <a href="/{{page.lang}}/python"><div class="metro">
			<p><img src="/assets/img/pythonicon.png"></p>
			<h2>Python</h2>
			</div></a>
        </div>
        <div class="col-md-2 col-xs-6 col-metro">
		  <a href="/{{page.lang}}/git"><div class="metro">		
			<p><img src="/assets/img/giticon.png"></p>
          <h2>Git</h2>
		  </div></a>
       </div>
	   <div class="col-md-2 col-xs-6 col-metro">
		  <a href="/{{page.lang}}/mysql"><div class="metro">			   
			<p><img src="/assets/img/mysqlicon.png"></p>
          <h2>Mysql</h2>
		  </div></a>		  
       </div>
        <div class="col-md-2 col-xs-6 col-metro">
		  <a href="/{{page.lang}}/nodejs"><div class="metro">
			<p><img src="/assets/img/nodejsicon.png"></p>
          <h2>Node JS</h2>
		  </div></a>		  
        </div>
        <div class="col-md-2 col-xs-6 col-metro">
		  <a href="/{{page.lang}}/photoshop"><div class="metro">
			<p><img src="/assets/img/PSicon.png"></p>
          <h2>Photoshop</h2>
		  </div></a>
        </div>
        <div class="col-md-2 col-xs-6 col-metro">
		  <a href="/{{page.lang}}/jquery"><div class="metro">
			<p><img src="/assets/img/jqueryicon.png"></p>
          <h2>Jquery</h2>
		  </div></a>
        </div>
      </div> <!--/row -->
	  	  
	  <div class="row row-others">	  
		<h2>Все шпаргалки в одном месте</h2>
		<div class="col-md-12">
			<ul>
				<li><a href="/{{page.lang}}/html">Html</a></li>
				<li><a href="/{{page.lang}}/css">Css</a></li>
				<li><a href="/{{page.lang}}/python">Python</a></li>
				<li><a href="/{{page.lang}}/php">Php</a></li>
				<li><a href="/{{page.lang}}/laravel">Laravel</a></li>
				<li><a href="/{{page.lang}}/ruby">Ruby</a></li>
				<li><a href="/{{page.lang}}/js">Javascript</a></li>
				<li><a href="/{{page.lang}}/nodejs">Node.js</a></li>
				<li><a href="/{{page.lang}}/java">Java</a></li>
				<li><a href="/{{page.lang}}/photoshop">Photoshop</a></li>
				<li><a href="/{{page.lang}}/jquery">Jquery</a></li>
				<li><a href="/{{page.lang}}/git">Git</a></li>
				<li><a href="/{{page.lang}}/mysql">Mysql</a></li>
			</ul>
		</div>
	  </div>
		
      </div>