	  <div class="row row-others">	  
		<h2>{{site.t[page.lang].all}}</h2>
		<div class="col-md-12">
			<ul>
				<li><a href="/{{page.lang}}/html">Html</a></li>
				<li><a href="/{{page.lang}}/html-dom">html dom</a></li>
				<li><a href="/{{page.lang}}/css">Css</a></li>
				<li><a href="/{{page.lang}}/python">Python</a></li>
				<li><a href="/{{page.lang}}/php">Php</a></li>
				<li><a href="/{{page.lang}}/laravel">Laravel</a></li>
				<li><a href="/{{page.lang}}/js">Javascript</a></li>
				<li><a href="/{{page.lang}}/jquery">Jquery</a></li>
				<li><a href="/{{page.lang}}/regular-expressions">regular expressions</a></li>
				<li><a href="/{{page.lang}}/photoshop">Photoshop</a></li>
			</ul>
		</div>
	  </div>