<ul class="nav nav-pills navbar-right">
	<li class="nav-text visible-lg-* droppable"><a href="#"><img src="/assets/img/share.png"></a>
		<ul class="dropzone">
			<a href="http://vk.com/share.php?url=http://{{site.url}}{{page.url}}" target="_blank"><li>vk</li></a>
			<a href="https://www.facebook.com/sharer/sharer.php?u=http://{{site.url}}{{page.url}}"><li>f</li></a>
		</ul>
	</li>
	<li class="nav-text visible-lg-*"><a href="/{{page.lang}}/about"><img src="/assets/img/about.png"></a></li>
	<li class="nav-text visible-lg-*"><a href="javascript:window.print(); void 0;" target="_blank"><img width="18" src="/assets/img/print.png" alt="Print"></a></li>
	<li class="nav-text visible-lg-* droppable"><a href="#"><img src="/assets/img/lang.png"></a>
		<ul class="dropzone">
			<a href="{% if page.title == 'H1NT.me' %}/{% else %}/ru/{{page.title}}{% endif %}"><li>ru</li></a>
			<a href="{% if page.title == 'H1NT.me' %}/en/{% else %}/en/{{page.title}}{% endif %}"><li>en</li></a>
		</ul>
	</li>
</ul>