#hints {
padding-top:70px;
position: relative;
min-height: 100%;
}
.navbar-fixed-top {
border-bottom: 1px solid #7F4551;
background: #fff;
height:50px;
line-height:50px;
color: #7F4551;
}
.title{
color:#7F4551;
margin-top: 0;
margin-bottom: 0px;
margin-left: 35px;
float: left;
height:50px;
border-right: 1px solid #7F4551;
padding-right: 20px;
text-transform: uppercase;
font-weight: 100;
font-size: 14px;
line-height: 50px;
}
.logo img{
vertical-align: baseline;
}
.navbar-header{
height: 50px;
color: #7F4551;
}
.nav .nav-text{
padding: 0 0 0 10px;
font-size: 18px;
float: left;
color: #7F4551;
width: 50px;
border-right: 1px solid #7F4551;
border-radius: 0px;
}
.nav .nav-text a{
color: #7F4551;
padding: 10px 0 10px;
border-radius: 0px;

}
.nav a:hover{
text-decoration: none;
background-color: #fff;
}
.nav a.nav-text:hover{
text-decoration: none;
background-color: #fff;
}
ul p:last-of-type{
border-right: 0px solid #7F4551;
}
.logo{
float: left;
}
.control{
width: 50px;
height: 50px;
display: inline-block;
cursor: pointer;
border: 1px solid #7F4551;
background: #fff;
color: #7F4551;
line-height: 50px;
text-align: center;
font-size: 20px;
vertical-align: middle;
/*
	padding: 0;
	margin: 15px 0 0 0;
	width: 50px;
	height: 50px;
	line-height: 1em;
	color: #e5e5e5;
	font-size: 3em;
	font-weight: bold;
	background: #5B8FCA;
	border: none;
	outline: none;
	border-radius: 0;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	display: inline-block;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
*/
}

.navbar-brand{
    position: relative;
}
.search{
border: 0;
line-height: 30px;
padding-left: 20px;
}
.ad{
display:inline-block;
width: 728px;
float: right;
}

input:focus {
    border: 1px transparent;
	outline: none !important;
}
::-webkit-input-placeholder {color:#7F4551;}
::-moz-placeholder          {color:#7F4551;}/* Firefox 19+ */
:-moz-placeholder           {color:#7F4551;}/* Firefox 18- */
:-ms-input-placeholder      {color:#7F4551;}

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

.navbar-header > ul.navbar-nav {
	margin: 0;
	padding: 0;
}

.ui-widget {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.ui-widget > input {
	width: 200px;
}

@media only screen and (max-width: 420px) {
	.ui-widget{display: none}
}

body > .ui-widget-content {
	position: fixed;
	z-index: 2000;
}