html {
	position: relative;
	min-height: 100%;
}

body, body > .navbar, body > .container {
	background: #fff;
}

a:link { /*добавил это из-за ссылок в метро*/
	text-decoration: none; 
}

@media only screen and (min-width: 768px) {
	.navbar > .container-fluid {
		padding-left: 0px;
	}
}

.jumbotron {
	background-color: #f2f3ee;
	min-height: 105px;
	margin-top: 50px;
	padding: 24px;
}

.jumbotron > p {
	text-align: center;
	color: #b1b6ba;
	font-size: 1em;
}

.metro {
	text-align: center;
	color: #824f58;
	text-transform: uppercase;
	border: solid 1px #824f58;
}

.container {
	margin-top: 70px;
}

.col-metro {
	color: #824f58;		
	margin:0;
	margin-bottom: 10px;
	padding-right: 5px;
	padding-left: 5px;
}

.metro h2{
	font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
	color: #824f58;
	font-size:18px;
	text-transform: uppercase;
	padding-left:1px;
	font-weight: normal;
}

.metro p{
	width: 80px;
	margin: 0 auto;
}

.metro img{
    padding-top: 49px;
}

.col-metro .metro{
	background-color:#fff;
	padding-left: 10px;
	padding-right: 10px;
}

.row > h2 {	
	margin: 0 0 20px 5px;
	color: #824f58;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
}



.row-others {
	margin-top: 80px;
}

.row-others > h2 {
	text-transform: uppercase;
	color: #5B8FCA;
}

.row-others>div>ul>li {
	list-style: none;
	display: inline-block;
	margin-left: 5px;	
	text-transform: uppercase;
	color: #5B8FCA;
	border: solid 1px #5B8FC;
	padding: 5px;
}